150917/part2.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT portfolio (box,skills,works+)>
<!ELEMENT box (title,text)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT skills (title,skill+)>
<!ELEMENT skill (#PCDATA)>
<!ATTLIST skill value CDATA #REQUIRED>
<!ELEMENT works (title,image,link,description)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT image EMPTY>
<!ELEMENT description (#PCDATA)>
<!ATTLIST image src CDATA #REQUIRED>
<!ATTLIST link source CDATA #REQUIRED>
